.pagination-container{
    display: flex;
    position: relative;
    top: 80px;
    flex: 0 0 auto;
    margin: 10px 0 10px;
    caret-color: transparent;
}

/* Перевизначаємо папаметри bootstrap */

.page-link {
    color: #161A30;
    cursor: pointer;
}

.page-link:hover {
    color: #161A30;
}

.page-item.active .page-link {
    background-color: #B6BBC4;
    border-color: #B6BBC4;
}
